# Env: debug|release|test
APP_ENV=test
DOCKER_COMPOSE_COMMAND=docker compose

# DB
DB_HOST=localhost
DB_HOST_FOR_PROJECT=localhost
DB_NAME=free_games_sales
DB_ROOT_PASSWORD=
DB_USER=free_games_sales_user
DB_PASSWORD=
DB_PORT=5432
DB_PORT_EXTERNAL=5432
DB_PORT_FOR_PROJECT=5432
DB_SSL=disable

# Telegram
TG_BOT_ID=
TG_BOT_TOKEN=
TG_PROXY_SCHEME=HTTP
# TG_PROXY_HOST=192.168.1.1:2222
TG_PROXY_HOST=
TG_PROXY_USER=
TG_PROXY_PASSWORD=
